<p>calculadora works!</p>

<div class="calculator">
    <input type="text" id="val1" enable /> 
    <input type="text" id="val2" enable /> 
    <input type="text" id="result" disabled /> 
</div>

<div class="buttons">

    <button class="operation" value="/">/</button>
    <button class="operation" value="+">+</button>
    <button class="operation" value="-">-</button>
    <button class="operation" value="*">*</button><br>
    
    <button id="clear">C</button>
    <button id="equal">=</button>
  </div>
  
